:root {
    --color_1: #019640;
    --color_2: #444444;
    --color_3: #FFFFFF;
    --color_4: #ACA7A8;
    --color_5: #E01B30;
}

#plano_de_carreira {
    width: 900px;
    height: 400px;
    background-color: var(--color_3);
    margin-top: 50px;
    border-radius: 50px;
    padding: 50px 80px;
    text-align: left;
}

#titulo_plano {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.subtitulo {
    color:var(--color_1);
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style:disc;
}

#chart {
    font-size: 80px;
    color: var(--color_1);
}